html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url("../resources/playstation-pattern.png");
  background-repeat: repeat;
  font-family: 'Helvetica', sans-serif;
  font-size: 1.15em;
  line-height: 150%;
}

.container {
    background: white;
    opacity: 0.9;
}

.full-width-div {
    /*position: absolute;*/
    width: 100%;
    left: 0;
}

.first-page {
    background: url("../resources/pow-star.png");
    /*z-index: 0;*/
}

.fixed-test {
    z-index: -1;
    color: black;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.second-page {
    background: url("../resources/cloth.png");
    /*z-index: 30;*/
}

.second-page {
    background: url("../resources/cloth.png");
    /*z-index: 40;*/
}

.inner-text {
    margin-left: auto;
    margin-right: auto;
    padding: 40px 270px;
}