/* FONT FACES */

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lora/Lora-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/quicksand/Quicksand-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Acknowledgement';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Acknowledgement/Acknowledgement.otf') format('opentype');
}

@font-face {
  font-family: 'Lobster-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Lobster/Lobster-Regular.ttf') format('truetype');
}

/* RESET */

* {
  margin: 0px;
  padding: 0px;
}

/* SOCIAL MEDIA ICONS */
.buttons {
  margin-left: auto;
  margin-right: auto;
  width:320px;
}
.icon {
  margin-left: 20px;
  display: inline-block;
  position: relative;
  color: black;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 1.47em;
  line-height: 1.70em;
  background-color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition:background-color 250ms ease 0s;
  transition:background-color 250ms ease 0s;
}
/* TEXT TURNS WHITE, BACKGROUND TURNS APPROPRIATE COLOR */
.icon:hover {
  color: white;
}

.icon:active{
  box-shadow: inset 0px 1px 4px #3d3d3d, 0px 0px 0px #bdbdbd;
  top: 3px;
}

.linkedin:hover{background-color: #29a0cc;}
.email:hover{background-color: #d5b120;}
.youtube:hover{background-color: #a32929;}
.github:hover{background-color: gray;}


/* NAV */

.pic1 {
  padding-left: 200px;
	height: 260px;
	width:27%;
	display: inline-block;
  overflow: hidden;
}

.pic1 img {
    max-width: 100%;
    max-height: 100%;
}

.pic2 {
	height: 260px;
	width:27%;
	display: inline-block;
  overflow: hidden;

}

.pic2 img {
    max-width: 100%;
    max-height: 100%;
}

.pic3 {
	height: 260px;
	width:27%;
	display: inline-block;
  overflow: hidden;
}

.pic3 img {
    max-width: 100%;
    max-height: 100%;
}

nav p {
	font-size: 40px;
	position: absolute;
  padding-left: 80px;
}



img {
	border-radius: 50%;
  opacity: 0.6;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}
img:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

/* BODY */

html {
  /*background-color: black;*/
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url(../imgs/binding_dark/binding_dark_@2X.png);
  /*-webkit-background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-o-background-size: cover;*/
  /*background-size: cover;*/
  color:white;
  font-size: 20px;
  padding: 20px;
  font-family: 'Lobster', 'Lobster-Regular';
  text-shadow: 3px 3px 3px rgb(98, 89, 89);
}

h1 {
  text-shadow: 3px 3px 3px rgb(98, 89, 89);
  font-weight: normal;
  font-size: 80px;
  padding-top: 150px;
  text-align: center;
  position: relative;
}

a {
  text-decoration: none;
}

