* {
  margin: 0px;
  padding: 0px;
}

/* SOCIAL MEDIA ICONS */

/* FONT FACES */
@font-face {
  font-family: 'Lobster-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Lobster/Lobster-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lora/Lora-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'quicksand';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/quicksand/Quicksand-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Acknowledgement';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Acknowledgement/Acknowledgement.otf') format('opentype');
}
/* NAV */

.pic1 {
  padding-left: 200px;
	height: 260px;
	width:27%;
	display: inline-block;
  overflow: hidden;
}

.pic1 img {
    max-width: 100%;
    max-height: 100%;
}

.pic2 {
	height: 260px;
	width:27%;
	display: inline-block;
  overflow: hidden;

}

.pic2 img {
    max-width: 100%;
    max-height: 100%;
}

.pic3 {
	height: 260px;
	width:27%;
	display: inline-block;
  overflow: hidden;
}

.pic3 img {
    max-width: 100%;
    max-height: 100%;
}

nav p {
	font-size: 40px;
	position: absolute;
  padding-left: 80px;
}



img {
	border-radius: 50%;
  opacity: 0.6;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}
img:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

/* BODY */

html {
  background-color: black;
 /* background-image:  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(../imgs/abstract.jpg);*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:white;
  font-size: 20px;
  padding: 20px;
  font-family: 'Lobster-Regular';
  text-shadow: 3px 3px 3px rgb(139, 129, 129);
}

h1 {
  text-shadow: 3px 3px 3px rgb(139, 129, 129);
  font-weight: normal;
  font-size: 60px;
  padding-top: 80px;
  text-align: center;
  position: relative;
}

a {
  text-decoration: none;
  color: blue;
}

